/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.pdf
composer.lock
composer.lock
.idea/codeStyles/codeStyleConfig.xml
.idea/deployment.xml
.idea/laravel-plugin.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/snelstart.iml
.idea/vcs.xml
.user.ini
.idea
.editorconfig
.gitattributes
.styleci.yml
