// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


.box
{
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 300px;
    margin-left: -150px; /* Negative half of width. */
    border: 1px solid darkslategrey;
    background: rgba(245, 255, 247, 0.75);
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';

